main {
    background: #C1442E;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    img {
        max-height: 150px;
        margin-top: 50px;

        animation: rotate infinite 20s linear;
    }

    h1 {
        font-family: 'Vollkorn', serif;
        color: white;
        margin-top: 15px;
    }

    .country-name {
      margin: 0;
      color: white;
      font-family: 'Vollkorn', serif;
      font-size: 25px;
    }

    h2 {
      margin: 0;
      color: white;
      font-family: 'Vollkorn', serif;
      font-size: 18px;
    }

    .random {
      border: 1px solid white;
      padding: 5px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .score {
      margin-bottom: 0;
    }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#selectedTemperature {
  display: none;
}

.ant-btn-primary {
  background-color: black;
  border-color: white;
  margin-top: 15px;
  width: 110px;
}

.ant-btn-primary:hover {
  background-color: rgb(66, 66, 66);
  border-color: white;
}

.ant-btn-primary:focus {
  background-color: black;
  border-color: white;
}