main {
    background: #E65038;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    img {
        max-height: 150px;
        margin-top: 50px;

        animation: rotate infinite 20s linear;
    }

    h1 {
        font-family: 'Vollkorn', serif;
        color: white;
        margin-top: 15px;
    }

    .country-name {
      margin: 0;
      color: white;
      font-family: 'Vollkorn', serif;
      font-size: 25px;
    }

    h2 {
      margin: 0;
      color: white;
      font-family: 'Vollkorn', serif;
      font-size: 18px;
    }

    .random {
      border: 1px solid white;
      padding: 5px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .score {
      margin-bottom: 0;
    }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#selectedTemperature {
  display: none;
}

.ant-btn-primary {
  background-color: #0E6C6C;
  border-color: white;
}

/*
export const Country = styled.h1`
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6em;
    align-self: center;
    text-align: center;
    color: white;
    margin-top: 10px;
`;

export const Info = styled.p`
    font-family: 'IBM Plex Sans', sans-serif;
    align-self: center;
    text-align: center;
    font-size: 17px;
    span {
        font-size: 18px;
    }
    color: white;
`;
*/